* {
  box-sizing: border-box;
  font-family: sans-serif;
}
/* define colors commonly used */
:root {
  --dark-purple: rgb(53, 28, 117);
  --light-purple: rgb(181, 75, 229);
}
/* header */
header {
  display: flex;
  margin: 1rem;
  padding: 0;
  justify-content: space-between;
}
header a {
  text-decoration: none;
  color: var(--light-purple);
  cursor: pointer;
}
/*Quiz introduction page*/
.quiz-intro {
  text-align: center;
  width: 70%;
  margin: auto;
  padding-top: 5rem;
  font-size: 1.5rem;
}

/* Question container */
.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  margin-top: 10%;
}

.question {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: left;
}
.question h3 {
  font-weight: bold;
  font-size: 2rem;
}

/* correct/incorrect text*/
.question-container h4 {
  font-size: 2rem;
  font-weight: 200;
  font-style: italic;
  opacity: 0.4;
  text-align: left;
}
/*Start quiz button & answer option buttons*/
.start-quiz {
  width: 8rem;
}

.start-quiz,
.answer-option {
  padding: 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 10px;
  background-color: var(--dark-purple);
  color: white;
  font-size: 1rem;
  padding: 1rem;
}

.answer-option {
  text-align: left;
  width: 80%;
  flex-wrap: wrap;
}
button:hover {
  background-color: var(--light-purple);
  cursor: pointer;
}
/*end of quiz container*/

.end-quiz-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* end quiz form*/
.end-quiz {
  margin-top: 10%;
  width: 50%;
}
.end-quiz h3 {
  font-size: 2rem;
}
.end-quiz p {
  font-size: 1.5rem;
}
.end-quiz label {
  font-size: 1.5rem;
  margin-right: 0.75rem;
}
/*initial button*/
.initial-btn,
.leaderboard button {
  background-color: var(--dark-purple);
  color: white;
  border-radius: 10px;
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
  border: none;
}
/*initial input*/
.initial-input {
  height: 2rem;
  width: 50%;
}

/*LeaderBoard*/
.leaderboard {
  width: 50%;
  text-align: left;
  margin-left: 25%;
  margin-top: 10%;
}
.leaderboard h3 {
  font-size: 2rem;
  margin-bottom: 0;
}
.leaderboard ol {
  background-color: rgb(216, 211, 231);
  padding-left: 1.5rem;
}
.leaderboard li {
  padding: 5px 0;
}
.leaderboard button {
  margin: 1rem;
  margin-left: 0%;
  letter-spacing: 2;
  cursor: pointer;
  display: inline-block;
}

/*Hidden class*/
.hidden {
  display: none;
}
